.page-heading {
  background-color: rgba(222, 194, 70, 0.685);
  background-image: url("../photos/cocktailImg.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: rgba(226, 227, 239, 0.94);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

nav {
  background-color: black;
  padding: 20px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 20px;
}
.negroni {
  display: flex;
  justify-content: center;
}

.place-neg {
  position: absolute;
  left: 200px;
  border-radius: 300px;
  border: 5px solid black;
}
.paperplane {
  display: flex;
  justify-content: center;
}

.place-paper {
  position: absolute;
  left: 195px;
  top: 1075px;
  border-radius: 300px;
  border: 5px solid black;
}
.manhatten {
  display: flex;
  justify-content: center;
}

.place-man {
  position: absolute;
  left: 195px;
  top: 1550px;
  border-radius: 300px;
  border: 5px solid black;
}
.bartenderpick {
  display: flex;
  justify-content: center;
}
.place-bar {
  position: absolute;
  left: 195px;
  top: 2000px;
  border-radius: 300px;
  border: 5px solid black;
}
